#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_DH_STRIP_ARGS := --dbg-package=extplane-panel-dbg
DH_ALWAYS_EXCLUDE=.git

override_dh_strip:
	$(overridden_command) --dbg-package=extplane-panel-dbg
